@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body * {
  box-sizing: border-box;
  min-width: 0;
}

body {
  min-height: 100dvh;
  font-family: Popins, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.radix-themes {
  --default-font-family: Poppins, sans-serif;
  color: #000 !important;
}
